@mixin input-radio-checkboxes {
  label {
    display: flex;
    margin: 1rem 0 0 25%;
  }

  input {
    &[type=radio],
    &[type=checkbox] {
      position: absolute;
      top: auto;
      clip-path: polygon(0 0);
      -webkit-clip-path: polygon(0 0);
    }

    + span {
      max-width: calc(100% - 2em);
      text-indent: 1em;
    }
  }

  input {
    &[type=radio] + span::before,
    &[type=checkbox] + span::before {
      content: '';
      background: #fff;
      border: .1em solid #0060A3;
      background-color: #fff;
      display: block;
      box-sizing: border-box;
      float: left;
      width: 1.5em;
      height: 1.5em;
      cursor: pointer;
      text-align: center;
      transition: all .1s ease-out;
    }
  }

  input {
    &[type=radio]:checked + span::before,
    &[type=checkbox]:checked + span::before {
      background-color: #fff;
      box-shadow: inset 0 0 0 .5em #0060A3;
      border: 1em;
    }

    &:focus {
      border: 2px solid #0060A3;
    }

    &:hover {
      border: 2px solid #0060A3;
    }
  }
}

@mixin radio-buttons {
  @include input-radio-checkboxes;

  input[type=radio] + span::before {
    border-radius: 100%;
  }
}

@mixin buttons {
  button {
    padding: .8rem 1.6rem;
    font-size: .8rem;
    text-decoration: none;
    border-radius: .4rem;
    border: .1rem solid #0060A3;
    cursor: pointer;
    margin-top: 1rem;
  }

  .buttons {
    margin: 0 1rem;
  }

  .next-button {
    color: white;
    background-color: #0060A3;
    float: right
  }
  
  .next-button:disabled {
    color: #555658;
    background-color: #ECECEC;
    border-color: #ECECEC;
    float: right;
  }

  .prev-button {
    color: #0060A3;
    background-color: white;
    float: left;
  }
  .__disabled {
    border: red;
  }

  .disable__day{
    border: red;
  }

}